.Footer {
  color: var(--color-white);
  background-color: var(--color-black);
}

.footerTop {
  display: grid;
  row-gap: 28px;
  padding: 51px 10px 21px;
  grid-template-columns: 1fr;
  border-top: solid 1px var(--color-gray);
}

.footerTop h4 {
  line-height: 1;
  font-size: 22px;
  letter-spacing: 1px;
}

.footerBottom {
  display: grid;
  border-top: solid 1px var(--color-gray);
  row-gap: 60px;
  padding-bottom: 24px;
  padding-top: 10px;
  padding-inline: 14px;
}

.about,
.social,
.newsletter {
  display: grid;
  align-content: start;
}

.about,
.social {
  row-gap: 22px;
}

.newsletter {
  row-gap: 14px;
}

.about,
.social {
  justify-items: center;
}

.about p {
  font-size: 13px;
  word-spacing: -0.7px;
  line-height: 1.4;
}

.newsletterForm {
  display: grid;
  row-gap: 20px;
}

.emailLabel {
  display: grid;
  row-gap: 8px;
  font-size: 16px;
  letter-spacing: 0.8px;
}

.emailInput {
  --height: 50px;
  height: var(--height);
  border-radius: calc(var(--height) / 2);
  padding-inline: calc(var(--height) / 2);
  letter-spacing: 0.4px;
  font-size: 16px;
  border: solid 2px transparent;
  cursor: pointer;
}

.button {
  --height: 46px;
  height: var(--height);
  border-radius: calc(var(--height) / 2);
  padding-inline: calc(var(--height) / 2);
  font-size: 16px;
  letter-spacing: 0.4px;
  color: var(--color-white);
  background-color: var(--color-orange);
  border: solid 1px transparent;
  cursor: pointer;
}

.linkList {
  list-style: none;
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
}

.link {
  display: inline-block;
  aspect-ratio: 1 / 1;
  width: 32px;
  line-height: 0;
}

.linkList li {
  line-height: 0;
}

.address {
  border-top: solid 1px var(--color-orange);
  padding-top: 10px;
  padding-inline: 10px;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 0.4px;
}

.copyright {
  font-size: 12px;
  letter-spacing: 0.3px;
  text-align: center;
}

@media only screen and (min-width:768px) {
  .footerTop {
    grid-template-columns: 1fr 250px;
    column-gap: 40px;
  }

  .about,
  .social {
    justify-items: flex-start;
  }

  .social {
    padding-right: 70px;
  }

  .newsletter {
    grid-column-start: 2 span;
  }

}

@media only screen and (min-width:1024px) {
  .footerTop {
    grid-template-columns: repeat(3, 1fr);
    
  }

  .footerBottom {
    border-top: none;
  }

  .newsletter {
    grid-column-start: 1 span;
  }
}