.Footer {
  color: var(--color-white);
  background-color: var(--color-black);
}

.footerTop {
  display: grid;
  row-gap: 20px;
  padding: 40px 20px;
  grid-template-columns: 1fr;

}

.footerBottom {
  display: grid;
  row-gap: 40px;
  padding: 20px;
  border-top: solid 1px var(--color-white);
}

.about,
.social,
.newsletter {
  display: grid;
  align-content: start;
  row-gap: 20px;
}

.about,
.social {
  justify-items: center;
}

.newsletterForm {
  display: grid;
  row-gap: 10px;
}

.linkList {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.link {
  display: inline-block;
  aspect-ratio: 1 / 1;
  width: 34px;
}

.address {
  border-top: solid 1px var(--color-orange);
  padding-top: 10px;
}

.copyright {
  text-align: center;
}

@media only screen and (min-width:768px) {
  .footerTop {
    grid-template-columns: 1fr 250px;
    column-gap: 40px;
  }

  .about,
  .social {
    justify-items: flex-start;
  }

  .social {
    padding-right: 70px;
  }

  .newsletter {
    grid-column-start: 2 span;
  }

}

@media only screen and (min-width:1024px) {
  .footerTop {
    grid-template-columns: repeat(3, 1fr);
    
  }

  .footerBottom {
    border-top: none;
  }

  .newsletter {
    grid-column-start: 1 span;
  }
}