.Footer {
  color: var(--color-white);
  background-color: var(--color-black);
}

.footerTop {
  display: grid;
  row-gap: 28px;
  padding: 51px 10px 21px;
  grid-template-columns: 1fr;
  border-top: solid 1px var(--color-gray);
}

.title {
  line-height: 1;
  font-size: 22px;
  letter-spacing: 1px;
}

.aboutWapper,
.socialWrapper {
  display: grid;
  align-content: start;
  justify-items: center;
  row-gap: 22px;
}

.about {
  font-size: 13px;
  word-spacing: -0.7px;
  line-height: 1.4;
}

.newsletterWrapper {
  display: grid;
  align-content: start;
  row-gap: 14px;
}

.footerBottom {
  display: grid;
  border-top: solid 1px var(--color-gray);
  row-gap: 60px;
  padding-bottom: 24px;
  padding-top: 10px;
  padding-inline: 14px;
}

.address {
  border-top: solid 1px var(--color-orange);
  padding-top: 10px;
  padding-inline: 10px;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 0.4px;
}

.copyright {
  font-size: 12px;
  letter-spacing: 0.3px;
  text-align: center;
}

@media only screen and (min-width:768px) {
  .footerTop {
    grid-template-columns: 1fr 250px;
    column-gap: 40px;
  }

  .aboutWapper,
  .socialWrapper {
    justify-items: flex-start;
  }

  .socialWrapper {
    padding-right: 70px;
  }

  .newsletterWrapper {
    grid-column-start: 2 span;
  }
}

@media only screen and (min-width:1024px) {
  .footerTop {
    grid-template-columns: repeat(3, 1fr);
    
  }

  .footerBottom {
    border-top: none;
  }

  .newsletterWrapper {
    grid-column-start: 1 span;
  }
}