.Button {
  --height: 46px;
  height: var(--height);
  border-radius: calc(var(--height) / 2);
  padding-inline: calc(var(--height) / 2);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: var(--color-white);
  background-color: var(--color-orange);
  border: solid 1px transparent;
  cursor: pointer;
}