.TagTitle {
  display: grid;
  place-content: center;
  height: 36px;
  /* width: 214px; */
  padding-inline: 22px;
  font-size: 18px;
  letter-spacing: 0.8px;
  color: var(--color-white);
  background: transparent;
  border: solid 1px var(--color-orange);
  border-radius: 18px;
}

@media only screen and (min-width:768px) {
  .TagTitle {
    font-size: 17px;
  }
}

@media only screen and (min-width:1024px) {}