.tagTitle {
  display: grid;
  place-content: center;
  height: 36px;
  width: 214px;
  border-radius: 18px;
  font-size: 18px;
  letter-spacing: 0.8px;
  background: transparent;
  border: solid 1px var(--color-orange);
}

.text {
  width: 92%;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1px;
  word-spacing: -0.8px;
  line-height: 1.5;

  margin-bottom: 14px;
}

.content {
  display: grid;
  justify-items: center;
  row-gap: 40px;
  padding-block: 68px;
}

.title {
  text-align: center;
}


/* section 4 */
.formSection {
  display: grid;
  gap: 40px;
}

.contactForm {
  --gap: 20px;
  display: grid;
  row-gap: var(--gap);
}

.contactForm div {
  display: grid;
  gap: var(--gap);
}

.contactForm label {
  display: grid;
  row-gap: 10px;
}

@media only screen and (min-width:768px) {
  .contactForm div {
    grid-template-columns: 1fr 1fr
  }
}

@media only screen and (min-width:1024px) {
  .formSection {
    grid-template-columns: 1fr 1fr;
  }
}