.Section4 {
  height: 700px;
  overflow: clip;
}

.tagTitle {
  display: grid;
  place-content: center;
  height: 36px;
  width: 214px;
  border-radius: 18px;
  font-size: 18px;
  letter-spacing: 0.8px;
  background: transparent;
  border: solid 1px var(--color-orange);
}


.content {
  display: grid;
  /* justify-items: center; */
  justify-items: start;
  row-gap: 40px;
  padding-block: 68px;
}

.title {
  /* text-align: center; */
}


.text {
  width: 92%;
  font-size: 17px;
  /* text-align: center; */
  letter-spacing: 0.1px;
  word-spacing: -0.8px;
  line-height: 1.5;

  margin-bottom: 14px;
}