.ServiceList {
  --column-gap: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: var(--column-gap);
  row-gap: 56px;
  padding-top: 26px;
  margin-inline: -6px;
}

.ServiceList > * {
  --max-items-per-row: 1;
  --grids: calc(var(--max-items-per-row) - 1);
  --diff: var(--column-gap) / var(--max-items-per-row);
  width: calc((100% / var(--max-items-per-row)) - ((var(--diff)) * var(--grids)));
  max-width: 400px;
}

@media only screen and (min-width:768px) {
  .ServiceList {
    --column-gap: 36px;
    padding-top: 20px;
    margin-inline: 4px;
    row-gap: 52px;
  }

  .ServiceList > * {
    --max-items-per-row: 2;
    max-width: auto;
  }
}

@media only screen and (min-width:1024px) {
  .ServiceList {
    --column-gap: 40px;
    row-gap: 42px;
  }

  .ServiceList > * {
    --max-items-per-row: 3;
  }
}


.card {
  --image-size: 120px;
  --half-image-size: calc(var(--image-size) / 2);
  --content-padding: 20px;
  position: relative;
  display: grid;
  align-content: center;
  min-height: 378px;
  height: auto;
  padding-inline: var(--content-padding);
  padding-top: calc(var(--half-image-size) + var(--content-padding));
  padding-bottom: 25px;
  margin-top: var(--half-image-size);
  text-align: center;
  border-bottom: solid 2px var(--color-orange);
  background: #fefefe;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
}

.image {
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  width: var(--image-size);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: solid 2px var(--color-orange);
  background-color: var(--color-white-2);
  overflow: clip;
}

.info {
  display: grid;
  align-content: start;
  row-gap: 18px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.9px;
  line-height: 0.94;
}

.text {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.56;
}

@media only screen and (min-width:768px)  {
  .card {
    --image-size: 108px;
    min-height: 354px;
    padding-bottom: 42px;
  }

  .text {
    line-height: 1.25;
  }
}

@media only screen and (min-width:1024px)  {
  .card {
    --image-size: 118px;
    min-height: 350px;
    padding-inline: 18px;
  }

  .title {
    font-size: 20px;
  }

  .text {
    line-height: 1.5;
  }
}