.xd {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.wrapper {
  width: min(100%, 1140px);
  max-width: 1140px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    90deg,
    transparent,
    #111 30% 90%,
    transparent
  );
}

.sliderContainer {
  --animation-speed: 1s; /* exposed to JSX to be overrided */
  --padding-bottom: 50px;
  min-height: 0;
  min-width: 0;
  padding: 14px 0 24px;
  padding-bottom: var(--padding-bottom);
  width: 1264px;
  position: relative;
  left: 50%;
  translate: -50%;
  /* background-color: rgb(252, 106, 106); */
}

.item {
  display: grid;
  place-items: center;
  /* background-color: rgb(205, 205, 54); */
}

.card {
  --content-padding: 20px;
  position: relative;
  display: grid;
  width: 360px;
  height: auto;
  padding-block: 48px 34px;
  padding-inline: 28px;
  text-align: center;
  border-bottom: solid 2px var(--color-orange);
  background: var(--color-white);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.comment {
  line-height: 1.5;
  margin-bottom: 20px;
}

.client {
  font-family: var(--font-bebas-neue);
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1;
}

.company {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.sliderContainer :global(.slick-track) {
  display: flex;
  align-items: center;
  will-change: transform, translate;
}


.sliderContainer :global(.slick-slide) {
  scale: 0.8;
  opacity: 0.5;
  will-change: scale, opacity;
  transition:
    scale var(--animation-speed) linear,
    opacity var(--animation-speed) linear;
}

.sliderContainer :global(.slick-current) {
  scale: 1;
  opacity: 1;
}

.prev,
.next {
  display: none;
}

@media only screen and (min-width:768px) {
  .prev,
  .next {
    --size: 50px;
    all: initial;
    display: inline-grid;
    place-items: center center;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--color-orange-dark);
    cursor: pointer;
  }

  .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    translate: 0 -65%;
  }
  
  .next {
    position: absolute;
    top: 50%;
    right: 30px;
    translate: 0 -65%;
  }
}

@media only screen and (min-width:1024px) {
  .prev {
    left: -3.8vw;
  }
  
  .next {
    right: -3.8vw;
  }
}

/* Prev /  Next buttons */
/* .sliderContainer :global(.slick-prev),
.sliderContainer :global(.slick-next) {
  --size: 40px;
  --distance: -50px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--color-orange-dark);
  opacity: 1;
} */

/* .sliderContainer :global(.slick-prev) {
  left: var(--distance);
}

.sliderContainer :global(.slick-next) {
  right: var(--distance);
}

.sliderContainer :global(.slick-prev::before),
.sliderContainer :global(.slick-next::before) {
  content: "";
  display: inline-block;
  font-size: 30px;
  color: var(--color-orange-dark);
} */

/* Dots */

.sliderContainer :global(.slick-dots) {
  bottom: calc((var(--padding-bottom) + 6px) * -1)
}

.sliderContainer :global(.slick-dots ::before) {
  content: "";
  display: none;
}

.sliderContainer :global(.slick-dots li) {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--color-orange-dark);
  border-radius: 5px;
  opacity: 0.5;
}

.sliderContainer :global(.slick-dots li.slick-active) {
  width: 50px;
  opacity: 1;
}